body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer { 
    padding: 10px;
    color: white;
    background-color: rgb(74, 105, 189);
}

.menu {
margin: 3px;
padding: 3px;
background-color: azure
}

section {
    margin: 5px;
    padding: 10px;
    background-color: rgba(119, 144, 226, 0.39);
}

article {
    margin: 5px;
    padding: 10px;
    background-color: aliceblue;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}